<form>
  <span>Name: </span>
  <input type="text" [(ngModel)]="name" name="name"/>
  <br />

  <span>Color: </span>
  <input type="checkbox" (click)="enabler()" />
  <select #optionColor [(ngModel)]="color" name="color" [disabled]="isDisabled">
    <option *ngFor="let color of colors" [value]="color">
      {{color}}
    </option>
  </select>
  <hr>
  <span>Change class: </span>
  <select #classOption multiple name="styles" (change)="addClass($event)" [disabled]="isDisabled">
    <option *ngFor="let class of classes" [value]="class" >
      {{class}}
    </option>
  </select>
  <br />
  <span>Press and hold control/command
    <br />
    to select multiple options
  </span>

</form>
<hr>
<span>Name: {{name}}</span>  <br />
<span [ngClass]="selectedClass" [ngStyle]="{'color': optionColor.value}">
  Color: {{optionColor.value}}
</span>
<br />